# see https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

trim_trailing_whitespace = true

[*.java]
indent_size = 4
indent_style = space

[*.xml]
indent_size = 2
indent_style = space

[*.{yaml, yml}]
indent_size = 2
indent_style = space

[*.{md, markdown}]
trim_trailing_whitespace = false

[*.sh]
indent_size = 2
indent_style = space

[*.bat]
indent_size = 2
indent_style = space
end_of_line = crlf
