### Darwin(mac) files
.DS_Store

### IntelliJ files
.idea/*
*.iml
out
gen
.sandbox

!.idea/compiler.xml
!.idea/dataSources.xml
!.idea/deployment.xml
!.idea/gradle.xml
!.idea/jarRepositories.xml
!.idea/kotlinc.xml
!.idea/sqldialects.xml
!.idea/vcs.xml

### Gradle template
build
.gradle
gradle-wrapper.jar

# -- if using CI, comment the follow two files
#gradlew
#gradlew.bat
