### Darwin(mac) files
.DS_Store

### IntelliJ files
.run
.idea
*.iml
out
gen

### VSCode files
.vscode

### Project files
.sandbox

### Gradle template
build
.gradle

# -- if using CI, uncomment the follow file(s)
#gradlew.bat
